@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');
* {
  --primary-color: #3282f7;
  --secondary-color: #68d9a4;
  --tertiary-color: #ed6454;
}

h1 {
  color: #d04f4f;
}
.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.searchBarInput {
  background-color: #e7e7e7;
  height: 69px;
}

.fa-magnifying-glass {
  font-size: 32px;
  margin-left: -60px;
}

.tagsContainer button {
  border-radius: 5px;
  width: 107px;
  height: 37px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.buttonNavBar {
  display: flex;
  list-style: none;
}
.dropdown button {
  padding: 22px;
  border: none;
  height: 69px;
  width: 170px;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
}

i {
  margin-left: auto;
}

.btn-primary {
  background-color: var(--primary-color);
  font-size: 18px;
}

.btn-success {
  background-color: var(--secondary-color);
}

.btn-danger {
  background-color: var(--tertiary-color);
}

.dropdown-toggle::after {
  display: none;
}

.searchButtonInput {
  background-color: transparent;
  color: white;
  border: none;
}

.searchButtonInput:focus {
  border: none;
  outline: none;
}

.searchButtonInput:focus::placeholder {
  color: transparent;
}

.searchButtonInput::placeholder {
  color: white;
  opacity: 0.5;
  align-self: center;
}

/* New buttons */

.link {
  cursor: pointer;
  list-style: none;
}

.dropdown-links li {
  width: 150px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown.active > .link,
.link:hover {
}

.dropdown {
  position: relative;
}
.dropdown-heading {
  margin-bottom: 1rem;
  justify-content: space-around;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(-80px) translateX(-5px);
  pointer-events: auto;
}

.contentGrid {
  display: grid;
  color: white;
}

.nav-button:nth-child(1) .contentGrid {
  background-color: var(--primary-color);
}

.nav-button:nth-child(2) .contentGrid {
  background-color: var(--tertiary-color);
}

.nav-button:nth-child(3) .contentGrid {
  background-color: var(--secondary-color);
}

.dropdown-links {
  padding: 0;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

/* RECIPE CARDS */
.card {
  background-color: #3282f7;
  width: 380px;
  height: 364px;
}

.imgCard {
  height: 178px;
  background-color: #c7bebe;
}

.card-body {
  background-color: #e7e7e7;
  height: 186px;
  width: 100%;
  margin: 0;
}

.card-body h5 {
  font-family: lato;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.fa-clock {
  margin-left: auto;
  margin-right: 7px;
  align-items: flex-end;
  font-size: 20px;
}

.descriptionHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.descriptionHeader p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  width: auto;
}

.card-body span {
  font-weight: 700;
  flex-wrap: nowrap;
  margin-right: 5px;
}

.card-body .listIngredients {
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 171px;
  height: 105px;
}

.listIngredients li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listIngredients p {
  margin: 0;
  font-weight: 200;
}

.card-text {
  width: 171px;
  height: 105px;
}

.card-body .card-text {
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
